html { 
    background: url(../images/background-image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h1 { 
    margin: auto;
    width: 50%;
    text-align: center;
    line-height: 90%;
    color: #92E601;
    font-size: 325%;
    padding:3%;
    top: 10%;
    font-weight: bold;
}

h1, h2, form, ul {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

form{
    margin: auto;
    width: 50%;
    text-align: center;
    color:#92E601;
    font-size: 100%;
    font-weight: 200%; 
    top: 20%;  
}

h2 {
    color: white;
    font-size: 150%;
    text-decoration: underline; 
}

ul {
    list-style: none;
    text-align: center;
    top: 25%;  
}
ul:hover {
    background: rgb(145, 228, 1, 0.5);
      }
